In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
data = pd.read_csv('/content/spam_ham_dataset.csv')

In [5]:
data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [6]:
data.tail()

,Unnamed: 0,label,text,label_num
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [7]:
data.shape

(5171, 4)

In [8]:
print (data)

      Unnamed: 0 label                                               text  \
0            605   ham  Subject: enron methanol ; meter # : 988291\r\n...
1           2349   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2           3624   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3           4685  spam  Subject: photoshop , windows , office . cheap ...
4           2030   ham  Subject: re : indian springs\r\nthis deal is t...
...          ...   ...                                                ...
5166        1518   ham  Subject: put the 10 on the ft\r\nthe transport...
5167         404   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168        2933   ham  Subject: calpine daily gas nomination\r\n>\r\n...
5169        1409   ham  Subject: industrial worksheets for august 2000...
5170        4807  spam  Subject: important online banking alert\r\ndea...

      label_num
0             0
1             0
2             0
3             1
4             0
...         ...
5166          0
5167          0
5168          0
5169          0
5170          1

[5171 rows x 4 columns]

In [9]:
new_data = data.where((pd.notnull(data)),'')

In [16]:
new_data.loc[new_data['label']=='spam','label',] = 0
new_data.loc[new_data['label']=='ham','label',] = 1

In [11]:
x = data['text']
y = data['label_num']

In [12]:
print(x)

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object

In [13]:
print(y)

0       0
1       0
2       0
3       1
4       0
       ..
5166    0
5167    0
5168    0
5169    0
5170    1
Name: label_num, Length: 5171, dtype: int64

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2,random_state=1)

In [15]:
print(x.shape, x_test.shape, x_train.shape)

(5171,) (1035,) (4136,)

In [17]:
feature_extraction = TfidfVectorizer(min_df=1,stop_words='english',lowercase='true')

x_train_features = feature_extraction.fit_transform(x_train)
x_test_feature = feature_extraction.transform(x_test)

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [ ]:
 print(x_train_features)

In [19]:
model = LogisticRegression()

In [20]:
model.fit(x_train_features,y_train)

LogisticRegression()

In [22]:
prediction_on__training_data = model.predict(x_train_features)
accuracy_train = accuracy_score(y_train,prediction_on_training_data)

In [25]:
print('ACCURACY OF TRAINING:',accuracy_train)

ACCURACY OF TRAINING: 0.991304347826087

In [26]:
prediction_on_test_data = model.predict(x_test_feature)
accuracy_test = accuracy_score(y_test,prediction_on_test_data)

In [27]:
print('ACCURACY OF TESTING:',accuracy_test)

ACCURACY OF TESTING: 0.991304347826087

In [31]:
input_mail =  ['2349,ham,"Subject: hpl nom for january 9 , 2001']

#converting text to feature vector
input_data_feature =  feature_extraction.transform(input_mail)

#making prediction
prediction = model.predict(input_data_feature)
print(prediction)

if prediction[0]==1:
  print('HAM MAIL')
else:
  print('SPAM MAIL')

[0]
SPAM MAIL